{
  "plugins": [
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "prettier"
  ],
  parserOptions: {
    ecmaVersion: 2016
  },
  "env": {
    "node": true,
    "jest": true
  },
  "rules": {
    "prettier/prettier": ["error", { "printWidth": 120 }]
  }
}
